<div class="bg-black text-white p-6 flex items-center">
  <p>Mi App</p>
  <img
    src="https://you.com/proxy?url=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.Ca8m7_pPKZlmP5bgC7UfCgHaH0%26pid%3DApi"
    alt=""
    width="40px"
  />
</div>

<div>
  <ul class="flex divide-x mt-4">
    <li class="mx-3" routerLinkActive="bg-violet-500">
      <a href="" class="bg-blue-200 px-4 py-2 rounded-lg" routerLink="/"
        >Inicio</a
      >
    </li>
    <li class="mx-3" routerLinkActive="bg-violet-500">
      <a href="" class="bg-blue-200 px-4 py-2 rounded-lg" routerLink="/services"
        >Servicios</a
      >
    </li>
    <li class="mx-3" routerLinkActive="bg-violet-500">
      <a
        href=""
        class="bg-blue-200 px-4 py-2 rounded-lg"
        routerLink="/portfolio"
        >Portafolio</a
      >
    </li>
    <li class="mx-3" routerLinkActive="bg-violet-500">
      <a href="" class="bg-blue-200 px-4 py-2 rounded-lg" routerLink="/contact"
        >Contáctenos</a
      >
    </li>
  </ul>
</div>
